* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    padding: 7px 20px;
    border: none;
    border-radius: 3px;
    background-color: #B90EC5;
    color: white;
    display: flex;
    cursor: pointer;
}

button:hover {
    color: #B90EC5;
    background-color: white;
}

/* Header */
header {
    background-color: black;
    padding: 10px 30px;
    height: 10%;
}

header nav {
    border: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}

.header_left {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 30px;
    padding: 0 0 0 40px;
}

li {
    list-style: none;
}

li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    display: inline;
    width: 100px;
    height: 30px;
}

.vertical_line {
    background-color: #3A3A3A;
    width: 2px;
    height: 30px;
    display: block;
    margin-left: 30px;
}

.buy-btn {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
}

/* Content */
section {
    height: 100%;
}

section div {
    background-image: url("https://raw.githubusercontent.com/pwlive/fullstackwebdevelopment/main/Assignment_03(HTML%2BCSS)/assets/bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

section div h1 {
    width: 70%;
    font-size: 70px;
    color: white;
    text-align: center;
    line-height: 1;
    font-weight: 900;

}

section div p {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    margin: 10px 0 70px;
}

.early-access-btn {
    font-weight: 500;
    font-size: 20px;
}